.page {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
}

#text {
  font-size: 20px;
  line-height: 32px;

  color: #333333;
}

.highlighted {
  padding: 0;
  margin: 0;

  background-color: yellow;
}
